

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

label {
            margin-right: 20px;
            margin-bottom: 20px;
        }
        header {
            background-color: orange;
        }
        .container h1{
            font-size: 2em;
        }
        .jumbotron>h1{
            font-size: 2em;
        }        
        .jumbotron li{
            margin-left: 20px;
        }
        .col-md-6 input{
            width: 75%;
        }
        .col-md-6 input:nth-of-type(2){
            margin-left: 22px;
        }














